@model NurbolFtp.Models.WpLink
@{ 
    Layout = null;
}
<html>
<head>
    <title>Создание ссылок - WhatsApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="shortcut icon" href="~/images/whatsapp.png" type="image/png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    
    <style>
        label.error{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="~/images/whatsapp.svg" alt="" width="72" height="72">
            <h2>Создание ссылок</h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form enctype="multipart/form-data" asp-controller="Home" asp-action="Index" id="form" method="post" class="needs-validation">
                    <div asp-validation-summary="All" class="text-danger">

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-4">
                            <a href="http://whatspp.kz/videohelp" target="_blank">Инструкция по созданию</a>
                        </div>
                        <div class="col-md-4 col-4">
                            <center>
                                <a href="https://drive.google.com/file/d/1664QlQXHAPSDFaJRsjw_nXj3AMu8D252/view" target="_blank">Скачать шаблон</a>
                            </center>
                        </div>
                        <div class="col-md-4 col-4">
                            <a href="http://whatspp.kz/example/" target="_blank">Пример ссылки</a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="theme">Выберите стиль</label>
                            <select asp-for="Theme" class="custom-select d-block w-100" id="theme">
                                <option value="0">С картинкой</option>
                                <option value="1">Только текст</option>
                            </select>
                            <div class="invalid-feedback">
                                Выберите стиль
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password">Пароль</label>
                            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="" />
                            <div class="invalid-feedback">
                                Введите пароль
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="instaName">Наименование аккаунта</label>
                            <input asp-for="Name" type="text" class="form-control" id="instaName" placeholder="" />
                            <div class="invalid-feedback">
                                Наименование аккаунта не должно быть пустым
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="phoneNumber">Номер телефона</label>
                            <input asp-for="Phone" type="tel" class="form-control" id="phoneNumber" placeholder="7(707) 1234567" />
                            <div class="invalid-feedback">
                                Номер телефона не должен быть пустым
                            </div>
                        </div>
                    </div>

                    <div id="picture" class="mb-3">
                        <label for="filePicture">Выберите картинку</label>
                        <div class="input-group">
                            <input asp-for="File" id="filePicture" type="file" class="file-input" accept="image/*" />
                            <div class="invalid-feedback">
                                Your username is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="textMsg">Текст</label>
                        <input asp-for="Text" type="text" class="form-control" id="textMsg" placeholder="Здравствуйте">
                    </div>

                    <br />
                    @if (TempData["wpLink"] != null)
                    {
                        <div id="displayAlert" class="alert alert-success" role="alert">
                            Ваша  <a id="linkWhatsapp" href="@TempData["wpLink"]" target="_blank" class="alert-link">ссылка</a>
                        </div>
                    }

                    <hr class="mb-4">
                    <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit" id="submit" value="Сохранить" />
                </form>
            </div>
        </div>
    </div>
    
    <script>
        $(function () {
            $("#theme").change(function () {
                switch ($(this).val()) {
                    case "0":
                        $("#picture").attr("style", "");
                        break;
                    case "1":
                        $("#picture").attr("style", "display: none");
                        break;
                }
            });
        });

        $("#phoneNumber").mask("7(999) 999-9999");
    </script>
</body>
</html>